
.MoviesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    gap: 25px;
    padding: 10px 10px 10px 15px;
    justify-content: center;
    transform: translateY(5vh);
    overflow: visible;
    margin-left: 220px;

}   