.MoviesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 50px;
    padding: 40px;
    justify-content: center;
    transform: translateY(5vh);
    overflow: visible;
}   