.MoviesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    gap: 25px;
    padding: 10px 10px 10px 15px;
    justify-content: center;
    margin-top:20px;    
}
.divContainer{
    margin-left: 220px;
    margin-top: 90px;
}
.divContainer:hover .title::before{
    background-color: #00ffff ;
    
}
.title , .SubTitle{
    text-align: justify;
    color: white;
    cursor: default;
    margin-left: 55px;

}
.SubTitle{
    color: #00ffff;
    margin-top: -18px;
}
.title::before{
    content: "";
    width: 2px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    transform: translateX(-10px) translateY(2px);
    transition: all ease-in-out .5s;
}
@media (max-widt:460px) {
    .MoviesContainer{
        grid-template-columns: 100vw;
    }
   
}