.detailsContainer{
    position: relative;
    background-color: #2727270c;
    height: calc(100vh);
    display: flex;
    overflow: hidden;
    width: calc(100vw - 200px);
    margin-left: 200px;
}
.imgBackdrop{
    width: 120%;
    opacity: .15;
    filter: brightness(10px);
    position: absolute;
    top: 0;
    left: 0; 
    pointer-events: none;
}
.img{
    width: 300px;
    border-radius: 10px;
    margin-top: 150px;
    margin-left:100px;
    height: 450px;
    z-index: 3;
}
.info{
    color: #fff;
    width: 500px;
    margin: 0 40px;
}
.info .p{
    font-size: 1rem;
}
.info .data{
    display: flex;
    margin-top: 70px;
}
.info .data p:first-child{
    border-radius: 5px;
    padding: .2vw;
    border: 1px solid #fff;
    margin-right: 10px;
    font-size: 17px;
}
.info .data p{
    font-size: 18px;
}
.info .description{
    font-size: 17px;
}
.info .description p:first-child{
    font-size: 17px;
    color: #dddddd;
    margin-bottom: .5vw;
}
@media (max-width:460px) {
    .imgBackdrop{
        width: 100vh;
        opacity: .30;
        transform: rotate(90deg);
        top: 42vw;
        left: -22vh;
        right: 50px;
        position: absolute;
    }
    .imgBackdropContainer{
        justify-content: start;
    }
    .detailsContainer{
        transform: translateY(3vw);
        height: 104vh;
        
    }


    .img{
        width: 50vw;
        border-radius: 20px;
        transform: translateX(25vw) translateY(16vw);
        height: 80vw;
    }
    .info{
        color: #fff;
        width: 55vw;
        height: 45vw;
        transform: translateX(-27vw) translateY(100vw);
        text-align: center;
    }
    .info .p{
        font-size: 4.5vw;
        
    }
    .info .data{
        display: flex;
        flex-direction: column;
        padding-bottom: 4vw;
        transform: translateY(-1vw);
    }
    .info .data p:first-child{
        border-radius: 5px;
        padding: .5vw;
        border: 1px solid #fff;
        margin-right: 1vw;
        font-size: 16px;
    }
    .info .data p{
        font-size: 15px;
        margin-top: 10px;
    }
    .info .description{
        font-size: 20px;
        
    }
    .info .description p:first-child{
        font-size: 20px;
        color: #7a7a7a;
        margin-bottom: 5px;
    }
}