.contentLoader{
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.contentLoader i{
    transform: translateY(45vh) translateX(100px);
    font-size: 40px;
    color: #fff;
    animation: infinite .5s ease-in-out loaderAnimation;
}
@keyframes loaderAnimation {
    100%{
        transform:translateY(45vh) translateX(100px) rotate(360deg);
    }
}