.searchContainer{
   z-index: 10;
}
.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 85px;
}
.search button{
    font-size: 1.45vw;
    background:none;
    border: none;
    color: #fff;
    transform: translateX(2.3rem);
}
.search input{
    width: calc(100vw - 28rem);
    height: 2.4vw;
    border-radius: 10px;
    border: none;
    background: #1c262e;
    color: #fff;
    padding: 10px 5px 10px 40px;
    transition: all ease-in-out .2s;
    outline: #ffffff00 1px solid;
    font-size: 1vw;
}
.search input:focus{
    outline: #166969 1px solid;
}
.search input:hover{
    outline: #166969 1px solid;
}

    