.MovieCard{
    list-style: none;
    transition: all ease .5s;
    font-family: poppins, sans-serif;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.MovieCard img{
    position: relative;
    width: 100%;
    height: 280px;
    transition: all ease-in-out .2s;
}
.MovieCard img:hover{
    opacity: 0.8;
    z-index: 1;
    filter: brightness(.5);
    
}
.MovieCard .iLX{
    position: absolute;
    margin: auto;
    z-index: -1;
    text-align: center;
    color: #fff;
    font-size: 110px;
    left:48px ;
    top: 88px;
}
.MovieCard:hover::after{
    opacity: 1;
    animation: ease-in-out .5s btnanimation forwards;
}
@keyframes btnanimation {
    0%{
        transform: scale(1) translateY(-14.8vw) translateX(-1vw);
    }
    50%{
        transform: scale(1.1) translateY(-13.8vw) translateX(-1vw);
    }
    100%{
        transform: scale(1) translateY(-14.8vw) translateX(-1vw);
    }
}
.tittle, .vote{
    text-align: justify;
    text-decoration: none; 
    color: #fff;
    transform: translateY(-14px);
    width: 100%;
    height: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tittle{
    font-size: 15px;
    font-weight: 800;
}
.vote{
    font-family: sans-serif;
    font-size: 14px;
    color: #e1ab29;
}
.vote i {
    margin-right: 5px;
}




.MovieImg{
    border-radius:10px ;
    background-color: #101010;
}
@media (max-width:460px) {
    .MovieCard{
        transform: scale(1.4);
        margin-bottom: 15vh;
        margin-top: 10vw;
    }
    
}